body {
  text-align:center;
}

.center {
  margin-left:auto;
  margin-right:auto;
}

.exoextralight {
  font-family:exoextralight;
}

.exolight {
  font-family:exolight;
}

[data-icon]:before {
  font-family:MeteoconsRegular;
  content:attr(data-icon);
}

.exoregular {
  font-family:exoregular;
}

.no-link-color a,a:hover {
  color:#999;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

/* End of carousel shadow modification */

/* Now Playing Progress Bar CSS */
.progress.now-playing-progress-bar {
  height: 5px;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* End of Now Playing Progress Bar CSS */

/* Forecast CSS */
.sidebar {
  margin-bottom: -20px;
}

.weather-icon {
  font-size: 500%;
  margin: 0 -10px 20px -5px;
}

.temperature {
  margin: 0;
}

.weather-summary {
  padding-right: 10px;
  width: 80px;
}

.wind-speed {
  margin-top: 0;
}

.weather-blurb {
  margin-top: 10px;
}

.weather-link {
  margin-bottom: -10px
}

/* End of Forecast CSS */

.panel-white-bg {
  background-color: #ffffff;
}

.panel-white-bg {
  background-color: #ffffff;
}

/* Disables ping ID looking like a link and makes it look white */
a#ping.badge.pull-right {
  color:#FFF;
}
/* End of Ping ID hack */

#now_playing {
  overflow: auto;
}

#right_sidebar {
  padding-top: 20px;
}

#system_load {
  margin-bottom:-10px
}

#disk_space {
  margin-bottom:-10px
}

.skinny-top-margin {
  margin-top: 5px;
}