<ul class="list-inline sidebar">
	<li><h1 data-icon="{{ weather['icon'] }}" class="weather-icon"></h1></li>
	<li>
		<ul class="list-unstyled">
			<li><h1 class="exoregular" class="temperature">{{ weather['temperature'] }}°</h1></li>
			<li><h4 class="exoregular" class="temperature weather-summary">{{ weather['summary'] }}</h4></li>
		</ul>
	</li>
</ul>

{% if weather['wind_speed'] > 0 %}
	<h4 class="exoextralight" class="wind-speed">Wind: {{ weather['wind_speed'] }} mph from the {{ weather['wind_bearing'] }}</h4>

{% else %}
	<h4 class="exoextralight" class="wind-speed">Wind: Calm</h4>

{% endif %}

<h4 class="exoregular">Next Hour</h4>
<h5 class="exoextralight" class="weather-blurb">{{ weather['minute_summary'] }}</h5>
<h4 class="exoregular">Next 24 Hours</h4>
<h5 class="exoextralight" class="weather-blurb"> {{ weather['hour_summary'] }}</h5>
<h4 class="exoregular">The Sun</h4>
<h5 class="exoextralight" class="weather-blurb">{{ weather['rises'] }} at {{ weather['sunrise_time'] | strftime }}</h5>
<h5 class="exoextralight" class="weather-blurb">{{ weather['sets'] }} at {{ weather['sunset_time'] | strftime }}</h5>
<p class="text-right no-link-color" class="weather-link"><small><a href="{{ weather['url'] }}">Forecast.io</a></small></p>