<div class="col-md-10 col-sm-offset-1">

  {% for video in videos %}
    <div class="thumbnail">
      <img src="{{ video['artwork'] }}" alt="{{ video['title'] }}">
      <div class="caption">

      {% if video['type'] == 'movie' %}
        <p class="exolight" style="margin-top:5px;">{{ video['summary'] }}</p> 

      {% elif video['type'] == 'episode' %}
        <h3 class="exoextralight" style="margin-top: 5px;">Season {{ video['season'] }}</h3>
        <h4 class="exoextralight" style="margin-top: 5px;">E {{ video['episode_number'] }}</h4>
        <p class="exolight">{{ video['summary'] }}</p>
      {% endif %}
        <h4 class="exoextralight" style="margin-top: 5px;">Viewer: {{ video['user'] }}</h4>
      </div>
    </div>

    {% if loop.revindex0 > 0 %}
    <hr>
    {% endif %}

  {% endfor %}
</div>